html {
    box-sizing: border-box;
    max-width: 99%;
    font-family: "Open Sans", sans-serif;
}

button{
    font-family: "Open Sans", sans-serif;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-size: cover; /*la imagen cubre la pantalla*/
    background-position: center center; /*centra la imagen vertila y horizontalmente*/
    background-attachment: fixed; /*se fija la imagen para que la altura de la imagen no supera el contenido*/
}

.root{
    display: flex;
    justify-content: center;
}

header img {
    height: 7em;
    margin-left: 8px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.registerContainer{
    display: flex;
    flex-direction: column;
}

.containerFormRegister{
    background-color: rgba(255, 255, 255, 0.70);
    display: flex;
    flex-direction: column; 
    padding: 1em;
    padding-bottom: 2em;
    border-radius: 20px;
    width: 17em;
    gap: 15px;
}

.registerTitle{
    font-size: 2em;
    margin: 0;
}

.line {
    background-color: black;
    width: 17em;
    height: .3em;
}

.labelRegister{
    font-size: 1.3em;
    font-weight: bold;
}

.inputRegister{
    background-color: rgba(44, 211, 225, 1);
    color: rgba(95, 95, 95, 1);
    font-size: 1.1em;
    font-family: 'Glacial Indifference', sans-serif;
    border: none;
    height: 2em;
}

.buttonRegister{
    background-color: rgba(242, 102, 171, 1);
    border-radius: 20px;
    font-size: 1.3em;
    font-weight: bold;
    border-color: white;
    width: 9.5em;
    height: 2.2em;
    margin: 1em;
    align-self: center;
}
.buttonBackHomeRegister{
    background-color: rgba(255, 197, 25, 1);
    border-radius: 20px;
    font-size: 1.3em;
    font-weight: bold;
    border-color: white;
    width: 9.5em;
    height: 2.2em;
    margin: 1em;
    align-self: center;
}

footer {
    position: fixed; /*que la posicion sea fija independiente del contenido*/
    left:0px; /* que a la izquierda no tenga margen o padding??*/
    bottom:0px; /* que abajo no tenga margen o padding??*/
    width: 100%; /* que su ancho sea el 100% de su contenedor*/
    background-color: rgba(255, 255, 255, 0.50);
    text-align: center;
}

footer p {
    font-family: 'verdana' ;
    font-size: smaller;
}

